footer
  .container
    .row
      .col-xs-12.col-sm-6
        p Ricardo Pab&oacute;n
        p 2014
      .col-xs-12.col-sm-6
        p.text-right Check out this website in&nbsp;
          a(href='https://github.com/rpabon/static-website') github
