header.navbar.navbar-static-top.rpabon-nav(role='banner')
  .container
    .row
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.rpabon-nav')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').logo
          img.img-responsive(src='img/logo.png', alt='logo.png', width='32')
          h5 rpabon
