html, body {
  height: 100%;
}

body {
  position: relative;
}

section {
  min-height: 90%;

  .section-title {
    font-size: 15px;
  }
}

.body-section {

  h1 {
    margin-top: 3em;
  }
}

.box {
  padding: 1em;
}

.box-image {

  img {
    margin: auto;
  }
}

.box-title {
  font-size: 12px;
  .text-center;
}

.white-text {
  color: @white;
}

a {
  color: @white;
  .transition(color 0.3s ease-in);

  &:hover,
  &:focus {
    text-decoration: none;
    color: @blue;
  }
}
