.navbar.navbar-static-top {
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.navbar-header {
  margin: 0.5em 0 0.5em 1em;
}

.logo {
  color: $white;

  & > * {
    display: inline-block;
  }

  &:hover,
  &:focus{

  }

  img {
    border-radius: 16px;
    background-color: $white;
    padding: 2px;
  }
}

ul.nav.navbar-nav {

  a {
    font-size: 12px;
    color: $white;
  }
}
